.player {
    gap: 13px;

    .imageContainer {
        border-radius: 100%;
        width: 80px;
        max-width: 80px;
        height: 80px;
        background-color: #c4c4c46a;
    }

    .playerInfo {
        gap: 11px;

        .name {
            color: #fff;
            font-size: 24px;
        }

        .elo {
            color: #949494;
            font-size: 18px;
        }
    }
}
