.customButton {
  border: none;
  margin: 0;
  padding: 0;
  border-radius: 500px;
  cursor: pointer !important;

  &:hover {
    transform: scale(1.04);
  }

  span {
    display: block;
    margin: 0;
    padding: 0.5rem 2rem;
    align-items: center;
  }

  &.button-type-primary {
  }

  &.button-type-white {
    background-color: #fff;
    color: #000;
  }

  &.button-size-medium {
    height: 2rem;
    padding: 0.25rem 1rem;
    font-size: 0.875rem;
    font-weight: 700;
    font-stretch: 100%;
  }
}
